
body {
  font-family: Verdana, Geneva, sans-serif;
}

a {
  color: black
}

a:hover {
  background-color: rgba(50, 0, 200, 0.3);
}

h3 {
  font-size: 20px;
  color: rgba(62, 61, 61, 0.8);
}

button {
  font-family: Verdana, Geneva, sans-serif;
  height: 20px;
  border-radius: 5px;
  padding: 0 15px;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.08);
  transition: box-shadow .4s, -webkit-box-shadow .4s, background-color .4s;
}

button:hover {
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.15);
  background-color: #e6e6e6;
}

/* Checkbox styles */
input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
label {
  position: relative;
  display: inline-block;
  padding: 0 0 0 2em;
  height: 1.5em;
  line-height: 1.5;
  cursor: pointer;
}
label::before,
label::after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 1.5em;
  height: 1.5em;
}
label::before {
  content: " ";
  border: 2px solid #bdc3c7;
  border-radius: 20%;
}
/* Checkbox */
input[type="checkbox"] + label::after {
  content: "\2714";
  color: #2c3e50;
  line-height: 1.5;
  text-align: center;
}
/* :checked */
input[type="checkbox"]:checked + label::before {
  background: #fff;
  border-color: #fff;
}
input[type="checkbox"] + label::after {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
input[type="checkbox"]:checked + label::after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
/* Transition */
label::before,
label::after {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}