@import './common.css';

.container {
  padding: 20px 40px;
}

.header {
  text-align: center;
}

.panel-left {
  height: 600px;
  float: left;
  padding-right: 20px;
  border-right: 1px solid gray;
}

.panel-right {
  overflow: hidden;
  padding-left: 20px;
}

.logo {
  width: 64px;
}

.storage-container {
  display: inline-block;
  width: 400px;
}

.storage-row {
  font-size: 16px;
  font-family: Georgia, serif;
  display: block;
  height: 30px;
}

#storage td.index {
  width: 200px;
}

#storage td.time {
  width: 100px
}