.toolbar {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  height: 32px;
  font-size: 12px;
}

.LCP_button {
  text-align: center;
  margin: 0 5px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #eceff1;
  background: transparent;
  border-radius: 5px;
  padding: 0 15px;
  height: 32px;
  line-height: 32px;
  transition: all .4s;
  /* box-shadow: 0 5px 15px 0 rgba(0,0,0,0.08); */
  /* transition: box-shadow .4s, -webkit-box-shadow .4s, background-color .4s; */
}

.LCP_button:hover {
  cursor: pointer;
  border-color: #263238;
  /* box-shadow: 0 15px 30px 0 rgba(0,0,0,0.15); */
  /* background-color: #e6e6e6; */
}

#auto-complete {
  border: 1px solid #00000040;
  position: absolute;
  z-index: 999;
  margin-top: 15px;
  font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;
}

#auto-complete .suggestion{
  padding: 0 10px;
  background-color: white;
}

#auto-complete .suggestion.selected {
  background-color: rgb(0, 158, 250);
  color: white;
}

#timer,
#timer-record {
  line-height: 36px;
  display: inline-block;
  width: 40px;
  margin-left: 20px;
  vertical-align: middle;
}

#timerbox {
  display: inline-block;
}

#timer-record {
  width: 100px;
  color: green;
}

#timer-toggle {
  width: 45px;
}